@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  ul,
  ol {
    list-style: unset;
  }
  ul li,
  ol li {
    margin-left: 1.5rem;
  }
}
